################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

bin/
obj/
*.user
.vs/
*.ncrunchproject
*.ncrunchsolution
*.crunchsolution
*.orig
/_NCrunch_CustomerWidget/
packages/
